{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="https://github.com/fahimshahrierrasel">

  <title>{{ page_title }}</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href={% static 'dashboard/css/sb-admin-2.css' %} rel="stylesheet">
  <style>
    .bg-login-image {
        background: url("{% static 'dashboard/img/amovieplex.png' %}");
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
</style>

</head>

<body id="page-top">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
    
            <div class="col-xl-10 col-lg-12 col-md-9">
    
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>


<!-- Bootstrap core JavaScript-->
<script src={% static 'dashboard/vendor/jquery/jquery.min.js' %}></script>
<script src={% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>

<!-- Core plugin JavaScript-->
<script src={% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}></script>

<!-- Custom scripts for all pages-->
<script src={% static 'dashboard/js/sb-admin-2.min.js' %}></script>

</body>

</html>