{% extends 'frontend/base.html' %}
{% load static %}
{% block hero_body %}
<div class="glide" id="main_slider">
    <div class="glide__track" style="height: 600px;" data-glide-el="track">
        <ul class="glide__slides">
            {% for movie in movies %}
            <li class="glide__slide">
                <div class="section" style="background-image: url({{ movie.get_feature_image }}); height: 600px;">
                    <div class="content" style="margin: 80px; width: 50%;">
                        <span class="movie-tag" id="coming-soon-tag">{{ movie.get_genres }}</span></br>
                        <span class="title" id="coming-soon-name">{{ movie.title }}</span>
                        <p id="coming-soon-details">{{ movie.short_plot }}</p>
                        <p><a id="coming-soon-link" href="#">MORE INFO <i class="fas fa-chevron-right"></i></a></p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- New in section start -->
<section class="section">
    <div class="container">
        <div class="tabs is-large">
            <ul>
                <li class="is-active"><a>New In</a></li>
            </ul>
        </div>
        <div class="tabs-details">
            <div class="glide slider">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for new in new_in %}
                        <li class="glide__slide">
                            <div class="card newin" style="background-image: url({{ new.get_poster_image }}); background-size: 100% 100%">
                                <div class="newin-overlay has-background-white-bis">
                                    <div class="has-text-centered center">
                                        <div class="content has-text-centered">
                                            {{ new.title }}
                                        </div>
                                        <i class="far fa-3x fa-play-circle fontawesome"></i>
                                        </br>
                                        <a href="{% url 'single_movie' slug=new.get_slug %}">Read More</a>
                                        </br>
                                        <span>Release Date:</span><span>{{ new.release_date }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button id="options-peek-before" class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                    <button id="options-peek-after" class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New in section end -->
<!-- Currently Running start -->
<section class="section">
    <div class="container">
        <div class="tabs is-large">
            <ul>
                {% for running_show in running_shows %}
                <li class="tab-item {{ forloop.first|yesno:'is-active,'}}" onclick="openNowShowingTab(event, '{% if forloop.first %}today{% else %}{{ running_show.show_date|date:'jb' }}{% endif %}')">
                    <a>{% if forloop.first %} Today {% else %} {{ running_show.show_date|date:'F d' }} {% endif %}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tabs-details">
            {% for running_show in running_shows %}
            <div id="{% if forloop.first %}today{% else %}{{ running_show.show_date|date:'jb' }}{% endif %}" class="tab-detail {{ forloop.first|yesno:',tab-inactive'}}">
                {% for movie in running_show.movies %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image" style="width: 165px; height: 253px;">
                                <img src="{{ movie.get_poster_image }}" alt="{{ movie.title }}">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <span class="movie-tag">{{ movie.get_genres }}</span></br>
                                <span class="title">{{ movie.title }}</span>
                                <p>{{ movie.short_plot }}</p>
                                <p><a href="#">FULL SYNOPSIS <i class="fas fa-chevron-right"></i></a></p>
                                <div class="columns">
                                    <div class="column is-10">
                                        <div class="tags are-medium">
                                            <span class="viewing-times"><i class="far fa-clock"></i> VIEWING TIMES </span>
                                            <span class="tag past">14:45</span>
                                            <span class="tag">18:30</span>
                                            <span class="tag">20:30</span>
                                            <span class="tag">23:40</span>
                                        </div>
                                    </div>
                                    <div class="column">{{ movie.running_time }} Mins<span class="movie-rating">{{ movie.rating.title }}</span></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Currently Running end -->
<!-- Coming soon start -->
<section class="section has-background-dark">
    <div class="container">
        <div class="tabs is-large">
            <ul>
                <li class="is-active"><a>Coming Soon</a></li>
            </ul>
        </div>
        <div class="tabs-details">
            {% with up_comming_movies|first as first_movie %}
            <div class="coming-soon" id="coming_soon_container" style="background-image: url({{ first_movie.get_feature_image }});">
                <div class="columns">
                    <div class="column">
                        <div class="content has-text-white" style="margin: 80px;">
                            <span class="movie-tag" id="coming_soon_tag">{{ first_movie.get_genres }}</span></br>
                            <span class="title has-text-white" id="coming_soon_name">{{ first_movie.title }}</span>
                            <p id="coming_soon_details">{{ first_movie.short_plot }}</p>
                            <p><a id="coming_soon_link" href="#">MORE INFO <i class="fas fa-chevron-right"></i></a></p>
                        </div>
                    </div>
                    <div class="column">
                        <img class="image is2by1 is-pulled-right margin-20" src="{{ first_movie.get_feature_image }}">
                    </div>
                </div>
            </div>
            {% endwith %}
            <div class="glide comming-soon-slider">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for movie in up_comming_movies %}
                        <li class="glide__slide">
                            <div class="card" id="what" onclick="showComingSoonDeatils(this)" data-tag='{{ movie.get_genres }}' data-title='{{ movie.title }}' data-plot='{{ movie.short_plot|escape }}' data-link='link1' data-img='{{ movie.get_feature_image }}'>
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="{{ movie.get_poster_image }}" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content has-text-centered">
                                        {{ movie.title }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button id="options-peek-before" class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                    <button id="options-peek-after" class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Coming soon end -->
{% endblock %}