{% extends 'frontend/base.html' %}
{% load static %}
{% load humanize %}
{% block extra_css %}
<link rel="stylesheet" href={% static 'frontend/vendor/starability/starability-growRotate.css' %}>
{% endblock %}
{% block hero_body %}
<div class="hero-body" style="background-image: url({{movie.get_feature_image}}); background-repeat:no-repeat; background-size:cover;">
    <div class="container has-text-white">
        <div class="columns">
            <div class="column is-7">
                <span class="movie-tag" id="coming-soon-tag">{{ movie.get_genres }}</span></br>
                <span class="title  has-text-white" id="coming-soon-name">{{ movie.title }}</span>
                <p id="coming-soon-details">{{ movie.short_plot }}</p>
                <div class="columns" style="margin-top: 5px;">
                    <div class="column is-narrow">
                        <span class="movie-rating">{{ movie.rating.title }}</span>
                    </div>
                    <div class="column is-narrow">
                        <a class="button is-rounded is-success is-outlined is-medium">
                            <span class="icon is-medium">
                                <i class="fas fa-play"></i>
                            </span>
                            <span>Trailer</span>
                        </a>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="tabs is-large">
                    <ul>
                        <li class="is-active"><a>SYNOPSIS</a></li>
                    </ul>
                </div>
                <div class="tabs-details">
                    <div class="columns">
                        <div class="column is-3">
                            <figure class="image">
                                <img src="{{ movie.get_poster_image }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="column">
                            <p>{{ movie.short_plot }}... <a id="read_plot">Read More</a></p>
                            </br>
                            <table class="table is-completely-borderless">
                                <tbody>
                                    <tr>
                                        <td style="margin-right: 10px;"><strong>DIRECTOR</strong></td>
                                        <td>{{ movie.director }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>STARRING</strong></td>
                                        <td>{{ movie.starring }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>RELEASE</strong></td>
                                        <td>{{ movie.release_date }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>RUNNING</strong></td>
                                        <td>{{ movie.running_time }} minutes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="tabs is-large">
                    <ul>
                        <li class="is-active"><a>VIEWING TIMES</a></li>
                    </ul>
                </div>
                <div class="tabs-details">
                    <table class="table is-narrow is-completely-borderless">
                        <tbody>
                            {% for show_time in movie.get_show_times %}
                            <tr>
                                <td class="has-margin-right-5">{{ show_time.screen_day }}</td>
                                {% for movietime in show_time.screen_times.all %}
                                <td><span class="tag">{{ movietime.start_time|time:'H:i' }}</span></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section has-background-dark">
    <div class="container">
        {% with movie.get_general_images|first as first_image %}
        <div id="image_container" style="margin-bottom: 10px; background-image: url({{ first_image }}); height: 600px; background-size:cover;">
        </div>
        {% endwith %}
        <div class="glide general">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for image in movie.get_general_images %}
                    <li class="glide__slide">
                        <div class="card" onclick="changeGeneralImage(this)" data-img="{{ image }}">
                            <div class="card-image">
                                <figure class="image">
                                    <img style="object-fit: cover; height: 165px; width: 165px;" src="{{ image }}" alt="{{ movie.title }}">
                                </figure>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button id="options-peek-before" class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button id="options-peek-after" class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="tabs is-large">
                    <ul>
                        <li class="is-active"><a>COMMENTS</a></li>
                    </ul>
                </div>
                <div class="tabs-details" style="overflow-y: scroll; height: 400px;">
                    {% for comment in movie.get_comments %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ comment.user.first_name }}</strong> <small>{{ comment.commented_at|naturaltime }}</small>
                                        <br>
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="tabs is-large">
                    <ul>
                        <li class="is-active"><a>LEAVE A COMMENT</a></li>
                    </ul>
                </div>
                <div class="tabs-details">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="number" name="movie_id" value={{ movie.id }} hidden>
                        <fieldset class="starability-growRotate">
                            <legend>Rate</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <div class="field">
                            <label class="label">Review</label>
                            <div class="control">
                                <textarea class="textarea" name="message" placeholder="Your review..."></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Movie Plot</p>
            <button class="delete" aria-label="close" onclick="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            {{ movie.plot }}
        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="closeModal()">Close</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block extraScript %}
<script type="text/javascript">
// General Image Carousel Start
let generalImageSlider = new Glide('.general', {
    type: 'carousel',
    startAt: 0,
    perView: 6,
    peek: {
        before: 100,
        after: 100
    }
});

function peek() {
    generalImageSlider.update({
        peek: {
            before: 100,
            after: 100
        }
    });
}

var before = document.querySelector('#options-peek-before');
var after = document.querySelector('#options-peek-after');

before.addEventListener('input', peek);
after.addEventListener('input', peek);

generalImageSlider.mount();
// General Image Carousel End

// Plot Modal Click Handlers Start

document.getElementById('read_plot').addEventListener('click', function() {
    document.getElementsByClassName('modal')[0].className += ' is-active';
});

function closeModal() {
    let modal = document.getElementsByClassName('modal')[0];
    modal.className = modal.className.replace(' is-active', '');
}
// Plot Modal Click Handlers Stop
</script>
{% endblock %}