{% extends 'dashboard/base.html' %}


{% block content %}

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src={{ movie.get_poster_image }} class="card-img" alt={{ movie.title }}>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{ movie.title }}</h3>
                        <hr>
                        <p class="card-text">{{ movie.short_plot }} <a href="javascript();" data-toggle="modal"
                                data-target="#modalPlot">
                                Read More
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Collapsable Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseMovieInfo" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseMovieInfo">
                <h6 class="m-0 font-weight-bold text-primary">Movie Info</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseMovieInfo">
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td><strong>DIRECTOR</strong></td>
                                <td>{{ movie.director }}</td>
                            </tr>
                            <tr>
                                <td><strong>STARRING</strong></td>
                                <td>{{ movie.starring }}</td>
                            </tr>
                            <tr>
                                <td><strong>Genres</strong></td>
                                <td>{{ movie.get_genres }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Release Date</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ movie.release_date }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Runtime</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ movie.running_time }} Minutes</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rating</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ movie.rating.title }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ movie.status|yesno:'Active,Inactive'}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPlot" tabindex="-1" role="dialog" aria-labelledby="modalPlotTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPlotTitle">{{ movie.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ movie.plot }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}