{% extends 'frontend/base.html' %}


{% block hero_body %}
<div class="hero-body has-background-primary">
    <div class="container">
        <h1 class="title">
            Fahim Shahrier Rasel
        </h1>
        <h2 class="subtitle">
            fahimshahrier2@gmail.com
        </h2>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                {% include 'frontend/profile/sidebar.html' %}
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Movie Watched
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-1">
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Ticket Purchased
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-1">
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Total Review
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-1">
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Point Earned
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-1">
                                    25
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section
{% endblock %}
    
    