{% extends 'frontend/base.html' %}


{% block hero_body %}
<div class="hero-body has-background-primary">
    <div class="container">
        <h1 class="title">
            Fahim Shahrier Rasel
        </h1>
        <h2 class="subtitle">
            fahimshahrier2@gmail.com
        </h2>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                {% include 'frontend/profile/sidebar.html' %}
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <input class="input" type="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Subject</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text"
                                    placeholder="e.g. Partnership opportunity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section
{% endblock %}
    
    