{% extends 'frontend/base.html' %}


{% block hero_body %}
<div class="hero-body has-background-primary">
    <div class="container">
        <h1 class="title">
            Fahim Shahrier Rasel
        </h1>
        <h2 class="subtitle">
            fahimshahrier2@gmail.com
        </h2>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                {% include 'frontend/profile/sidebar.html' %}
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Rating</th>
                            <th>Review</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a>Avenger Endgame</a></td>
                            <td>4</td>
                            <td>A great movie!!</td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control">
                                        <a class="button is-primary is-outlined" href="#">
                                            <span class="icon is-small">
                                                <i class="far fa-edit"></i>
                                            </span>
                                            <span>Edit</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-danger is-outlined" href="#">
                                            <span class="icon is-small">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span>Delete</span>
                                        </a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section
{% endblock %}
    
    